* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./cover.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

/* header{
  position: fixed;
  top: 0;
  width: 100%;
} */

nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
}

.museum-logo {
  width: 4%;
}

ul {
  display: flex;
  list-style: none;
  gap: 100px;
  align-items: center;
  color: white;
  cursor: pointer;
}
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 8px 0;
  border-radius: 1em;

}

/* Home */
.banner {
  padding: 50px;
  width: 80%;
  margin: 50px auto;
  margin-bottom: 100px;
  background-color: white;
  opacity: 60%;
  border-radius: 1em;
  box-shadow: 0 10px 10px 10px rgb(1, 29, 24);
  width: 60%;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Info */

.info {
  display: flex;
  justify-content: space-evenly;
}

.info-logo {
  width: 100px;
  height: 100px;
}

.info-logo-1 {
  width: 200px;
}

.info-child {
  width: 20%;
  background-color: white;
  border-radius: 1em;
  text-align: center;
  opacity: 80%;
  box-shadow: 0 10px 10px 10px rgb(1, 29, 24);
  padding: 20px;
}


.contact{
   padding: 20px;
   background-color: white;
   opacity: 70%;
   width: 60%;
   margin: 100px auto;
   border-radius: 1em;
   box-shadow: 0 10px 10px 10px rgb(1, 29, 24);
}


.con-head{
    text-align: center;
}

.con-info{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}
textarea{
    border: 1px solid black;
}

input{
    padding: 8px;
    width: 100px;
    display: block;
    margin: 16px auto;
}

textarea{
  display: block;
  margin: 0 auto;
}

/* Footer */

footer{
  background-color: black;
  color:white;
  text-align: center;
  padding: 25px;
}
.bottom-nav{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

a{
  color: white;
  text-decoration: none;
}

a:visited{
  color: antiquewhite;
  text-decoration:none;
  transition: 0.5;
  }

